{% extends "base.html" %}

{% block content %}
<h1>{{ user.first_name }} {{ user.last_name }}</h1>

<img src="{{ user.image_url }}" alt="user image">
<form action="/users/{{ user.id }}/edit" method="GET">
  <button>Edit</button>
  <!-- on click of edit button, view function to render edit user details template -->
</form>
<form action="/users/{{ user.id }}/delete" method="POST">
    <button>Delete</button>
    <!-- delete user from db, redirect to list users -->
</form>

<h2>Posts</h2>

<ul>
    {% for post in user.posts %}
    <li><a href="/users/{{ user.id }}/posts/{{ post.id }}">{{ post.title }}</a>
      </li>
    {% endfor %}
</ul>

<!-- trigger get form for adding a new post -->
<form action="/users/{{ user.id }}/posts/new" method="GET">
  <button>Add Post</button>
</form>



{% endblock %}